/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-primary {
    background-color: var(--color-primary);
    color: var( --color-primary-anti);
}

.bg-secondary1 {
    background-color: var(--color-secondary1);
}

.bg-secondary2 {
    background-color: var(--color-secondary2);
}

.text-center {
    text-align: center;
}

.container .row h2 {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    text-transform: capitalize;
}

.fa-asterisk {
    display: inline-block;
    line-height: 25px;
}

.main-title-bottom {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

    .main-title-bottom:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        background-color:var(--color-secondary2-anti2);
        width: 25px;
        height: 1px; 
    }
    .main-title-bottom::after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        background-color:var(--color-secondary2-anti2);
        width: 25px;
        height: 1px;
    }


/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */

#hero {
    background-image: url(../img/bg/home-bg.jpg);
    background-color: (--color-primary);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    color: var(--color-primary-anti);  
}
    #hero h3{
        display: inline-block;
        width: 100%;
        color: var(--color-primary-anti);
        line-height: 26px;
        font-size: 26px;
        padding: 100px 0 20px;
        text-transform: capitalize;
        font-family: 'Montserrat', 'Nunito', sans-serif;  
        font-weight: 400;
    }

    #hero h1{
        display: inline-block;
        width: 100%;
        color: var(--color-primary-anti);
        line-height: 72px;
        font-size: 72px;
        padding: 20px 0;
        text-transform: capitalize;
        font-family: 'Montserrat', 'Nunito', sans-serif;
        font-weight: 400;

    }




/************************************************************/

/************************************************************/
/* ABOUT ME */
#aboutme .container {
    display: inline-block;
}
    #aboutme .row {
        display: inline-block;
    }

#aboutme h3 {
    display: inline-block;
    color: var(--color-secondary2-anti2);
    margin: 10px 0;
}

#aboutme span {
    font-weight: lighter;
}

#aboutme p {
    display: inline-block;
    width: 100%;
    color: var(--color-secondary2-anti2);
    margin: 10px 0;
    font-size: 18px;
}

#aboutme img {
    display: inline-block;
    width: 200px;
    margin: 20px 0;
}

#aboutme i {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 25px;
}
#aboutme .progress-bar {
    display: inline-block;
}

@media (max-width: 900px) {
    #aboutme .row .progress-bar {
        width: calc(100% - (40px));
    }
}

@media (max-width: 700px) {
    #aboutme .row .progress-bar {
        width: calc(100% - (40px));
    }
}

@media (max-width: 500px) {
   #aboutme .row .progress-bar {
        width: calc(100% - (40px));
    }
    #aboutme img {
        display: inline-block;
        width: 100%;
        margin: 20px 0;
    }
    #aboutme .row .col-10 i:nth-child(2) {
        display: none;
    }
    #aboutme i {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        line-height: 25px;
    }
}
@media (max-width: 400px) {
    #aboutme .row .progress-bar {
            width: calc(100% - (40px));
        }
        #aboutme .row .col-10 i:nth-child(1) {
            display: none;
        }
}
/************************************************************/

/************************************************************/
/* SERVICES */
#services .row {
    margin-top: 10px;
}
#services p {
    display: inline-block;
    width: 100%;
    color: var(--color-secondary2-anti2);
    margin: 10px 0;
    font-size: 18px;
}

#services .cards {
    display: inline-block;
    width: calc((100% - 60px) / 3);
    float: left;
    border: dotted 1px var( --color-secondary1-anti2);
    padding: 60px 20px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 10px;
}
#services .cards img {
    margin-bottom: 20px;
}
#services .cards h3 {
    margin-bottom: 5x;
}

@media (max-width: 900px) {
    #services .cards {
        width: calc(100% - (20px));
        padding: 20px 20px;
    }
}
/************************************************************/

/************************************************************/
/* STATISTIKA */
#statistics {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/bg/img-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0
}

#statistics .row {
    margin-top: 10px;
}
#statistics p {
    display: inline-block;
    width: 100%;
    color: var(--color-secondary2-anti2);
    margin: 10px 0;
    font-size: 18px;
}

#statistics h1 {
    display: inline-block;
    width: 100%;
    color: var(--color-primary-anti);
    font-size: 40px;
}

#statistics .cards {
    display: inline-block;
    width: calc((100% - 80px) / 4);
    float: left;
    border: dashed 1px var(--color-primary-anti);
    padding: 20px 20px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 10px;
}
#statistics .cards img {
    margin-bottom: 15px;
}

@media (max-width: 1100px) {
    #statistics .cards {
        padding: 40px 15px;
    }
}

@media (max-width: 900px) {
    #statistics .cards {
        width: calc(100% - (20px));
        padding: 20px 20px;
    }
}
/************************************************************/

/************************************************************/
/* EDUCATION */
#education .row {
    margin-top: 30px;
}
#education .col-3 {
    content: '';   
}
#education .col-6 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0px;
    color: var(--color-secondary1-anti2);   
}
/* LEFT */
#edu-list-left {
    position: relative;
    display: inline-block;
    float: left;
    width: 40%;
    border-left: 1px dotted var(--color-secondary1-anti2);
}
    #education .cards-left::before {
        content: "";
        background-color:var(--color-secondary1-anti1);
        width: 13px;
        height: 13px;
        border-radius: 50%; 
        display: inline-block;
        left: -7px;
        position: absolute;
}
#edu-list-left .cards-left {
    display: inline-block;
    float: left;
    border: dotted 1px var( --color-secondary1-anti2);
    padding: 20px 30px;
    margin: 15px 0 15px 20px;
    text-align: center;
    border-radius: 10px;
    text-align: left;
}
#education .cards-left p {
    display: inline-block;
    width: 100%;
    color: var(--color-secondary2-anti2);
    margin: 10px 0;
    font-size: 18px; 
}
#education .cards-left h3 {
    margin-bottom: 5px;
}    
#education .cards-left h4 {
    margin-bottom: 10px;
}
/* RIGHT     */
#edu-list-right {
    position: relative;
    display: inline-block;
    float: right;
    width: 40%;
    border-left: 1px dotted var(--color-secondary1-anti2);
}
    #education .cards-right::before {
        content: "";
        background-color:var(--color-secondary1-anti1);
        width: 13px;
        height: 13px;
        border-radius: 50%; 
        display: inline-block;
        left: -7px;
        position: absolute;
}
#edu-list-right .cards-right {
    display: inline-block;
    float: left;
    border: dotted 1px var( --color-secondary1-anti2);
    padding: 20px 30px;
    margin: 15px 0 15px 20px;
    text-align: center;
    border-radius: 10px;
    text-align: left;
}
#education .cards-right p {
    display: inline-block;
    width: 100%;
    color: var(--color-secondary2-anti2);
    margin: 10px 0;
    font-size: 18px; 
}
#education .cards-right h3 {
    margin-bottom: 5px;
}    
#education .cards-right h4 {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    #edu-list-left {
        width: 100%;
    }
    #edu-list-right {
        width: 100%;
        }
    #education .col-3 {
        width: 0px;
    }
    #education .col-6 {
        width: 100%;
    }
}

/************************************************************/

/************************************************************/
/* HIRE ME */
#hireme {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/bg/img-2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
}
    #hireme h1 {
        font-size: 40px;
        line-height: 40px;
        color: var(--color-primary-anti);
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    #hireme a {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        color: var(--color-primary-anti);
        border: solid 2px var(--color-primary-anti);
        padding: 13px 22px;
        border-radius: 4px;
    }
        #hireme a:hover {
            background-color: var(--color-primary-anti);
            color: var(--color-primary);
            transition: 0.5s;
        }
/************************************************************/

/************************************************************/
/* OUR WORK */

/************************************************************/

/************************************************************/
/* OUR CLIENTS */

/************************************************************/

/************************************************************/
/* GREAT PEOPLE */
#greatpeople .col-3 {
    content: '';   
}
#greatpeople .col-6 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0px;
    color: var(--color-secondary1-anti2);
}
#greatpeople img {
    display: inline-block;
    width: 120px;
    height: 100px;
}

#greatpeople #block {
    display: inline-block;
    float: left;
    width: calc(100% / 6);
    margin-top: 60px;
}

@media (max-width: 900px) {
    #greatpeople #block {
        width: calc(100% / 3);
    }

    #greatpeople .col-3 {
        width: 0px;
    }
    #greatpeople .col-6 {
        width: 100%;
    }
}

@media (max-width: 700px) {
    #greatpeople #block {
        width: calc(100% / 2);
    }
    #greatpeople .col-3 {
        width: 0px;
    }
    #greatpeople .col-6 {
        width: 100%;
    }
}
@media (max-width: 500px) {
    #greatpeople #block {
        width: 100%;
    }
}
/************************************************************/

/************************************************************/
/* SUBSCRIBE */
#subscribe .col-3 {
    content: '';   
}
#subscribe .col-6 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0px;
    color: var(--color-secondary1-anti2);
}
#sub {
    display: inline-block;
    margin-top: 20px;
}
    #sub input {
        display: inline-block;
        border-radius: 30px;
        padding: 13px;
        /* padding-left: 26px; */
        width: 600px;
        font-size: 20px;
        text-align: left;
        border: none;
        outline: none;
        background-color: var(--color-secondary1);
        color: var(--color-secondary1-anti2);
        border: solid 3px var(--color-secondary1);
    }    
    #sub input::placeholder {
        color: var(--color-secondary1-anti2);         
    }  
    #sub a {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 20px;
        background-color: var(--color-primary);
        color: var(--color-primary-anti);    
        padding: 13px 26px;
        border-radius: 30px;
        position: absolute;
        right: 390px;
        /* bottom: -2px; */
        
    }    
    #sub a:hover {
        background-color: var(--color-primary-anti);
        color: var(--color-primary);
        border: solid 2px var(--color-primary);
        transition: 0.5s;
    }
/************************************************************/

/************************************************************/
/* OUR BLOG */
#blog .cards {
    display: inline-block;
    width: calc((100% - 60px) / 3);
    float: left;
    overflow: hidden;
    background-color: var(--color-secondary2);
    padding: 5px;
    border-radius: 10px;
    margin: 20px 10px 0 10px;
}
#blog p:nth-child(1) {
    display: inline-block;
    width: 100%;
    color: var(--color-secondary1-anti2);
    margin: 10px 0;
    font-size: 18px;
}
#blog .blog-image {
    display: inline-block;  
}
    #blog .blog-image img {
        display: inline-block;
        object-fit: contain;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
#blog .blog-info h3 {
    display: inline-block;
    font-size: 25px;
    width: 100%;
    margin: 10px 0;
    color: var(--color-secondary1-anti1);
}
#blog .blog-info a:nth-child(2) {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--color-secondary1-anti1);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
#blog .blog-info p:nth-child(3) {
    display: inline-block;
    color: var(--color-secondary2-anti2);
    font-size: 18px;
}
#blog .blog-info a:nth-child(4) {
    display: inline-block;
    text-decoration: none;
    color: var(--color-secondary1-anti1);
    font-size: 18px;
    font-weight: bold;
}
#blog .blog-info p:nth-child(5) {
    display: inline-block;
    color: var(--color-secondary2-anti2);
    font-size: 18px;
    margin: 10px 0;
}
#blog .blog-info a:nth-child(6) {
    display: inline-block;
    text-decoration: none;
    color: var(--color-secondary2-anti2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}



/************************************************************/

/************************************************************/
/* CONTACT */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
