/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-primary {
    background-color: var(--color-primary);
    color: var( --color-primary-anti);
}

.ng-secondary1 {
    background-color: var(--color-secondary1);
}

.ng-secondary2 {
    background-color: var(--color-secondary2);
}

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* STATISTIKA */

/************************************************************/

/************************************************************/
/* EDUCATION */

/************************************************************/

/************************************************************/
/* HIRE ME */

/************************************************************/

/************************************************************/
/* OUR WORK */

/************************************************************/

/************************************************************/
/* OUR CLIENTS */

/************************************************************/

/************************************************************/
/* GREAT PEOPLE */

/************************************************************/

/************************************************************/
/* SUBSCRIBE */

/************************************************************/

/************************************************************/
/* OUR BLOG */

/************************************************************/

/************************************************************/
/* CONTACT */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
