#work p {
    display: inline-block;
    width: 100%;
    color: var(--color-secondary2-anti2);
    margin: 10px 0;
    font-size: 18px;
}
.gallery{
    display: inline-block;
    width: 100%;
}
    .gallery > .filter {
        display: inline-block;
        width: 100%;
        margin: 50px 0;
        position: relative;
    }
        .gallery > .filter > .snaige {
            display: inline-block;
            font-size: 14px;
            line-height: 14px;
            color: var(--color-secondary2-anti2);
            position: absolute;
            bottom: 8px;
        }
        .gallery > .filter > .item {
            display: inline-block;
            font-size: 16px;
            line-height: 16px;
            margin: 0 15px;
            padding: 10px 16px;
            border-radius: 5px;
            text-transform: capitalize;
            color: var(--color-secondary2-anti1);
            cursor: pointer;
            transition: all 0.5s;
        }
            .gallery > .filter > .item:hover,
            .gallery > .filter > .item.active {
                background: var(--color-primary);
                color: var(--color-primary-anti);
                transition: all 0.5s;
            }
/* --------------------------------------------------------------------*/
    /* visos nuotraukos */
    .gallery > .list {
        display: inline-block;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
        /* viena nuotrauka */
        .gallery > .list > .work {
            display: none;
            width: calc((100% - 90px) / 3);
            float: left;
            margin: 0 15px 30px 15px;
            overflow: hidden;
            position: relative;
            text-transform: capitalize;
            border-radius: 5px;
        }
            /* nuotrauka kuri tuo metu rodoma ja atrusiavus */
            .gallery > .list > .work.show {
                display: inline-block;
            }
            /* nuotraukos isvaizda pries ja pazymint */
            .gallery .work > img {
                display: inline-block;
                width: 100%;
                position: relative;
                /* per kiek laiko padides nuotrauka */
                transition: all 1s;
            }
                /* nuotraukos pasikeitimas atsiradus hoveriui */
                .gallery .work:hover > img {
                    transform: scale(1.1);
                    /* per kiek laiko sumazes nuotrauka */
                    transition: all 0.7s;
                }
            .gallery .work > .hover {
                position: absolute;
                overflow: hidden;
                border-radius: 10px;
                top: 10px;
                left: 10px;
                bottom: 10px;
                right: 10px;
            }
                /* nuotraukos hoveris, pries pazymint yra 0px dydzio*/
                .gallery .work > .hover::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 0;
                    height: 0;
                    background-clip: content-box;
                    border-radius: 10px;
                    /* per kiek laiko pradings tamsus hover */
                    transition: all 0.4s;
                }
                    /* hoverio pasikeitimas atsiradus hoveriui */
                    .gallery .work:hover > .hover::before {
                        background-color: rgba(0, 0, 0, 0.7);
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        width: 100%;
                        height: 100%;
                        /* per kiek laiko atsiras tamsus hoveris */
                        transition: all 0.4s;
                    }
            .gallery .work h5 {
                color: transparent;
                overflow: hidden;   /* nematomas kai nera 100% ribose */
                font-size: 20px;
                line-height: 22px;
                text-align: right;
                top: 30px;
                right: 20px;
                position: absolute;
            }
                .gallery .work:hover h5 {
                    color: var(--color-primary-anti);
                }
                    .gallery .work h5::before {
                        position: absolute;
                        content: '';
                        background: var(--color-primary-anti);
                        width: 100%;
                        right: 110%;
                        top: 0;
                        bottom: 0;
                        transition: all 0.8s;
                    }
                    .gallery .work:hover h5::before {
                        right: -110%;
                        transition: all  0.8s;
                    }
            .gallery .hover > h6 {
                color: transparent;
                overflow: hidden;
                font-size: 16px;
                line-height: 16px;
                text-align: right;
                top: 60px;
                right: 20px;
                position: absolute;
                font-weight: 200;
            }
                .gallery .work:hover h6 {
                    color: var(--color-secondary1-anti2);
                }
                    .gallery .work h6::before {
                        position: absolute;
                        content: '';
                        background: var(--color-primary-anti);
                        width: 100%;
                        left: 110%;
                        top: 0;
                        bottom: 0;
                        transition: all 0.8s;
                    }
                    .gallery .work:hover h6::before {
                        left: -110%;
                        transition: all  0.8s;
                    }
                    
@media (max-width: 1100px) {
    .gallery > .list > .work {
        width: calc((100% - 60px) / 2);
    }
}
@media (max-width: 900px) {
    .gallery > .list > .work {
        width: 100%;
    }
    .gallery > .filter > .snaige {
        display: none;
    }
    .gallery > .filter > .item {
        margin: 0;
    }
}


