#main_header{
    padding: 15px 0;
    color: var( --color-primary-anti);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 1s;
}
    #main_header .Elvish_name {
        display: inline-block;
        float: left;
        font-size: 40px;
        line-height: 40px;
    }
    #main_header i {   /* hamburgeris */
        display: none;
        float: right;
        width: 30px;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }
    #main_header nav {
        display: inline-block;
        float: right;
    }
        #main_header a {
            display: inline-block;
            float: left;
            padding: 0 10px 2px;
            font-size: 16px;
            line-height: 40px;   
            text-decoration: none;
            color: var( --color-primary-anti);
            position: relative;
        }
            #main_header nav > a:hover::before,
            #main_header nav > a.active::before {
                padding-bottom: 0;
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 6px;
                width: 6px;
                background: var( --color-primary-anti);
                border-radius: 50%;             
                z-index: 1;
            }
#main_header.fixed {
    position: fixed;
    background-color: var(--color-secondary2);
    color: var( --color-secondary2-anti1);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    transition: all 500ms;
}
        #main_header.fixed a {
            color: var(--color-secondary2-anti1);
        }
            #main_header.fixed nav > a:hover::before,
            #main_header.fixed nav > a.active::before {
                background: var(--color-secondary2-anti1);
            }


@media (max-width: 900px) {
    #main_header.mobile-show {
        /* height: 100vh; */
    }
        #main_header i.fa-bars,
        #main_header.mobile-show i.fa-times {
            display: inline-block;
        }
        #main_header nav {
            display: none;
            width: 100%;
        }
            #main_header.mobile-show nav {
                display: inline-block;
            }
            #main_header nav > a {
                width: 100%;
                padding: 0 0 2px 10px;
            }
                #main_header nav > a:hover,
                #main_header nav > a.active {
                    padding-bottom: 2px;
                }
                #main_header nav > a:hover::before,
                #main_header nav > a.active::before {
                    padding-bottom: 0;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    bottom: 20px;
                    left: -5px;
                    height: 6px;
                    width: 6px;
                    background: var(--color-primary-anti);
                    border-radius: 50%;             
                    z-index: 1;
                }
}
